body {
	font-family: 'Open Sans', sans-serif;
}

.vcenter-child {
	padding: 10% 0;
}

.vcenter-parent {
	padding: 5% 0;
}

.section-title {
	font-size: 3em
}

div.team-wrapper { text-align: center; }
img.team-headshot { max-width: 75%; }
