body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px; /*for navbar*/
}

/*This is for the navbar overlapping*/
.section-content:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}


